{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">
    <link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Digestive Disorders</title>
    <link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">
    <link rel="stylesheet" href="{% static 'HealthStack-System/css/HealthAdvice/ailmentstyle.css' %}">
    <link rel="stylesheet" href="../css/ailmentstyle.css">
</head>

<body>

    <!-- Header -->
    {% if not user.is_authenticated%}
    <header class="header">{% include 'navbar_home.html' %}</header>
    {% endif %}
    {% if user.is_authenticated and user.is_doctor %}
    <header class="header">{% include 'doctor-navbar.html' %}</header>
    {% endif %}
    {% if user.is_authenticated and user.is_patient %}
    <header class="header">{% include 'patient_navbar.html' %}</header>
    {% endif %}
    <!-- /Header -->

    <div class="health-advice">
        <div class="title">
            <div id="mainPage">
                <a href="{% url 'health-advice:health_advice' %}">
                    <span>
                        &#x2190
                    </span>
                    Home Page
                </a>
            </div>

            <div class="diseaseTitle">
                <p>
                    Yoga asanas for Diabetes
                </p>
            </div>
        </div>

        <div class="HealthAdvice-Container">
            <div class="intro">
                <div>
                    <p>
                        Yoga is an additional treatment for those living with diabetes type-2. It helps in improving all
                        the health parameters to promote physical and mental health. Yoga helps in managing diabetes
                        better if you practice yoga for long enough. It will also reduce the risk of complications
                        related to diabetes. Yoga in the early stage of diabetes not only controls your diabetes but
                        also gives the best results for your health. You can practice the best yoga for diabetes to keep
                        your blood sugar levels in control.
                    </p>
                </div>
                <div>
                    <p>
                        Many people with diabetes are now turning to practicing yoga to keep their blood sugar levels
                        under control. Yoga is an ancient known practice that helps in improving overall well-being,
                        reduces stress, lowers blood pressure, and enhances mobility. Adding the simple yogic practice
                        to your daily regime is a way to address diabetes besides medicines. You need to maintain
                        consistency and regularity to get the best results of yoga on your health.
                    </p>
                </div>
                <div>
                    <img src="{% static 'HealthStack-System\images\HealthAdvice\Yoga and Digestion.jpg' %}" alt="">
                </div>
                <div>
                    <h3 style="text-decoration: underline;">
                        Therapeutic Role of Yoga in Diabetes
                    </h3>

                    <p>
                        The key factors that increase the risk of Type -2 Diabetes by 3 times are:
                    </p>
                    <li>Unhealthy diet patterns</li>
                    <li>Lack of physical exercises</li>
                    <li>Psychological stress</li>

                    <p>
                        These factors also pose a risk of coronary heart disease and the risk or severity of diabetes.
                        Therefore it is necessary to have a balance of medicines, physical exercise, and a diabetic diet
                        plan for efficient management of health in diabetic conditions. Yoga is a set of activities that
                        helps in controlling your stress, and emotions and helps in balancing the body to its perfect
                        shape.
                    </p>
                </div>
            </div>

            <div class="cure">
                <h2>Benefits of Yoga For People With Diabetes</h2>

                <ul>
                    People with diabetes are at the risk of developing several health complications. Therefore, diabetes
                    patients need to keep their blood sugar levels in control. Besides medications and insulin therapy,
                    yoga is the best way to adjust your blood sugar levels to normal. Yoga keeps your stress level low,
                    protects against cardiac diseases, prevents diabetic neuropathy, and boosts strength and balance to
                    promote overall health.
                    <br>
                    Starting with yoga exercise for diabetes can be daunting for those who are physically inactive for
                    some time. However, it is a gentle way to improve health and build strength. It also helps in
                    improving your physical and mental well-being through:
                    <li>Keeping your stress levels low</li>
                    <li>Protecting your cardiac health</li>
                    <li>Preventing the risk of diabetic neuropathy</li>
                    <li>Boosting strength and balance</li>
                </ul>
            </div>

            <div class="asana">
                <h2>Yoga poses for better digestion: </h2>

                <div class="asanaCollection">
                    <div class="box"><img src="{% static 'HealthStack-System\images\HealthAdvice\balasana.jpg' %}" alt="Balasana"><span><a href="{% url 'health-advice:balasana' %}">
                                Balasana</a></span></div>
                    <div class="box"><img src="{% static 'HealthStack-System\images\HealthAdvice\tadasana.jpg' %}" alt="Tadasana"><span><a
                                href="{% url 'health-advice:tadasana' %}">Tadasana</a></span></div>
                    <div class="box"><img src="{% static 'HealthStack-System\images\HealthAdvice\step6-suryanamaskar.jpg' %}" alt="Suryanamaskar"><span><a
                                href="{% url 'health-advice:suryanamaskar' %}">Suryanamaskar</a></span></div>

                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- /Footer -->
    
     <!-- Bootstrap JS (with Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
    <script src="{% static 'HealthStack-System/js/Normal/jquery.min.js' %}"></script>
    <script src="{% static 'HealthStack-System/js/Normal/bootstrap.min.js' %}"></script>

</body>

</html>