{% load static %}

<footer class="footer">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-6 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-about">
            <div class="footer-logo">
              <img src="{% static 'HealthStack-System/images/Normal/footer.png' %}" alt="logo" />
            </div>
            <div class="footer-about-content">
              <p>
                HealXCare is a comprehensive, online platform connecting multiple hospitals to enhance healthcare
                delivery. It facilitates immediate medical assistance for patients requiring emergency treatment and
                ensures seamless tracking, monitoring, and sharing of health records across all associated hospitals.
                The platform empowers patients with access to detailed profiles of hospitals and medical professionals,
                enabling informed decisions and convenient online appointment scheduling.
              </p>
              <br>
              <div class="social-icon">
                <ul>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#" target="_blank"><i class="fab fa-whatsapp"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>


        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->

          <!-- /Footer Widget -->
        </div>

        <div class="col-lg-3 col-md-6">
          <!-- Footer Widget -->
          <div class="footer-widget footer-contact">
            <h2 class="footer-title">Contact Us</h2>
            <div class="footer-contact-info">
              <div class="footer-address">
                <span><i class="fas fa-map-marker-alt"></i></span>
                <p>
                  Navi Mumbai<br />Maharashtra, India
                </p>
              </div>
              <p>
                <i class="fas fa-phone-alt"></i>
                +91 9307527369
              </p>
              <p class="mb-0">
                <i class="fas fa-envelope"></i>
                team@healxcare.in
              </p>
            </div>
          </div>
          <!-- /Footer Widget -->
        </div>
      </div>
    </div>
  </div>
  <!-- /Footer Top -->

  <!-- Footer Bottom -->

  <!-- /Footer Bottom -->
</footer>