<html>
<!-- Subject: Reset Your HealXCare Password – Action Required 🔒 -->
<head></head>

<body>
  <div
    style="border: solid 1px #E5E5E5;border-radius: 5px;margin:0px auto; max-width:600px;width:600px;background:#fff;font-family: Lato, Helvetica, 'Helvetica Neue', Arial, 'sans-serif';">
    <table cellspacing="0" cellpadding="0" style="width: 100%;font-size: 14px;">
      <tbody>
        <tr>
          <td style="padding:32px">
            <div>
              <h1 style="margin: 0 0 32px;font-size:20px;text-align:center"><span><img src="/portal/60031957166/mailagents/2518b.53e56cd38bd377f6.6092ccc47c797acb/files/2518b.53e56cd38bd377f6.h1.c43397a0-e7bf-11ef-ac6f-525400ab18e6.194f060461a/download" orig_width="1280" orig_height="250" width="400" height="78" size_option="bestfit"><br>
          HealXCare</span><br></h1>
            </div>
            <div style="background: #fff;border-radius: 10px;overflow: hidden;border: solid 1px #E5E5E5;">
              <table cellspacing="0" cellpadding="0" style="width:100%;font-size: 14px;">
                <tbody>
                  <tr>
                    <td>
                      <div style="padding: 32px 26px;text-align: center;">
                        <h2 style="margin:0 0 20px;font-size: 20px;">Password Reset Link<br></h2>
                        <p style="margin: 0px; line-height: 1.6;">
                          <span class="size" style="font-size: 14px; margin: 0px; line-height: 1.6;">Click the below button to reset your account password:</span><br>
                        </p>
                        <p style="margin: 24px 0px;"><a href="{{reset_link}}" target="_blank"
                            style="background-color: #264DED; color: #fff; padding: 12px 24px; text-decoration: none; font-size: 16px; font-weight: bold; border-radius: 5px; display: inline-block;">Reset
                            Account</a><br></p>
                        <p style="margin: 16px 0px;">
                          <span class="size" style="font-size: 13px; margin: 16px 0px;">If the button is not working, <a href="{{reset_link}}" target="_blank" style="color: #264DED; text-decoration: underline;">click here</a>.</span><br>
                        </p>
                        <p style="margin: 0px; line-height: 1.5;">
                          <span class="size" style="font-size: 13px; margin: 0px; line-height: 1.5;">This reset link expires in <span class="colour" style="color:rgb(170, 34, 34)"><b>10 minutes</b></span><span class="colour" style="color:rgb(0, 0, 0)">.</span></span><br>
                        </p>
                        <hr style="border-style: dashed;border-width: 1px 0 0;border-color: #CECECE;margin: 24px 0">
                        <p style="line-height: 1.6; margin: 24px 0px 0px;">
                          <span class="size" style="font-size: 14px; line-height: 1.6; margin: 24px 0px 0px;">If you have further questions,<br>
                write to us at <a href="mailto:support@healxcare.in" target="_blank">support@healxcare.in</a> and our team will get back to you.</span><br></p>
                        <div style="margin-top: 32px;line-height: 1.6;">
                          <p style="margin: 0px;">
                            <span class="size" style="font-size: 13px; margin: 0px;">Have a great day!</span><br></p>
                          <h3 style="font-size: 15px; margin: 4px 0 0;">Team HealXCare<br></h3>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <br>
  </div>
</body>

</html>